body {
  margin: 0;
  font-family: 'Karla', sans-serif; }

#header-main {
  color: white;
  margin: 0;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.13)), url(../public/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #header-main nav {
    font-size: 1.1em; }
    #header-main nav li {
      margin: 0 1rem; }
  #header-main #header-section {
    height: 100%; }
  #header-main #header-div img {
    width: 500px;
    margin: 50px 0 30px 0; }
  #header-main #header-div p {
    font-size: 1.6em;
    font-weight: 400; }
  #header-main #simulador {
    color: black;
    height: 150px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.384);
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07); }

main #main-section {
  margin-top: 150px; }

main #main-grid {
  margin: 20px;
  padding: 10px 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 33%);
  grid-gap: 10px; }
  main #main-grid div {
    background-size: cover; }
    main #main-grid div .overlay {
      margin: 0;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      color: white;
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: rgba(0, 0, 0, 0.3);
      transition: all .2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center; }

main #item-1 {
  grid-area: 1/1/3/2;
  background-image: url(../public/main-1.webp); }
  main #item-1:hover .overlay {
    opacity: 1; }

main #item-2 {
  grid-area: 1/2/3/3;
  background-image: url(../public/main-2.webp); }
  main #item-2:hover .overlay {
    opacity: 1; }

main #item-3 {
  grid-area: 1/3/2/4;
  background-image: url(../public/main-3.webp); }
  main #item-3:hover .overlay {
    opacity: 1; }

main #item-4 {
  grid-area: 1/4/3/5;
  background-image: url(../public/main-4.webp); }
  main #item-4:hover .overlay {
    opacity: 1; }

main #item-5 {
  grid-area: 3/1/4/2;
  background-image: url(../public/main-5.webp); }
  main #item-5:hover .overlay {
    opacity: 1; }

main #item-6 {
  grid-area: 3/2/4/3;
  background-image: url(../public/main-6.webp); }
  main #item-6:hover .overlay {
    opacity: 1; }

main #item-7 {
  grid-area: 2/3/4/4;
  background-image: url(../public/main-7.webp); }
  main #item-7:hover .overlay {
    opacity: 1; }

main #item-8 {
  grid-area: 3/4/4/5;
  background-image: url(../public/main-8.webp); }
  main #item-8:hover .overlay {
    opacity: 1; }

.header-pages {
  color: black;
  margin: 0; }
  .header-pages nav {
    font-size: 1.1em; }
    .header-pages nav li {
      margin: 0 1rem; }

#logo-negro {
  width: 300px; }

#contenedor-habitaciones .habitacion {
  height: 250px; }

.img-room {
  width: 250px; }

.tarjetaClima {
  padding: 20px;
  height: fit-content;
  border: solid 1px black;
  border-radius: 10px;
  align-self: center; }
  .tarjetaClima .descripcion {
    text-transform: capitalize; }
  .tarjetaClima #descripcionIcono {
    align-items: center; }
  .tarjetaClima div .ciudad {
    text-transform: uppercase; }
